<div class="about text-white d-flex justify-content-center align-items-center py-md-5 ">
<div class=" py-md-5 ">
    <app-star>
        <h2 #myh2 class="text-uppercase mb-3 fs-1 fw-bolder">ABOUT COMPONENT</h2>
    </app-star>
    <div class="container">
        <div class="row px-5 pb-5">
            <div class="col-md-6 ps-md-5">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
            <div class="col-md-6 pe-5">
                <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
            </div>
        </div>
    </div>
</div>
</div>
