<div class="home text-white d-flex justify-content-center align-items-center ">
    <div class="text-center ">
        <img src="./assets/avataaars.svg" alt="" class="mb-3 ">
        <app-star >
            <h2 class="text-uppercase mb-3 fs-1 fw-bolder"> START FRAMEWORK</h2>
            <div class="d-flex align-items-center justify-content-center mb-3">
                <div class="line me-3 bg-white d-block"> </div>
                <i class="fa-solid fa-star"></i>
                <div class="line ms-3 bg-white"> </div>
            </div>
        </app-star>
        <div class="pb-2">Graphic Artist - Web Designer - Illustrator</div>
    </div>
</div>

